

.ui-datepicker {
    background: #fff;
    box-shadow: 0px 4px 30px rgba(120, 141, 166, 0.1);
    padding: 2.5rem 1rem;
    display: none;
}

.ui-datepicker {
    font-size: 1.6rem;
}

.ui-datepicker-header {
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
}
.ui-datepicker-next, .ui-datepicker-prev {
    top: 0.5rem;
    position: absolute;
}

.ui-datepicker-prev {
    left: 2.5rem;
    top: 3.6rem;
}

.ui-datepicker-next {
    right: 3.5rem;
    top: 3.6rem;
}

.ui-datepicker-title {
    font-size: 1.8rem;
    padding-bottom: 2rem;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center  ;
}

.ui-datepicker-title select {
    font-size: 1.8rem;
}

.ui-datepicker-month {
    border:  none;
    outline: none;
}

.ui-icon-circle-triangle-w, .ui-icon-circle-triangle-e {
    position: relative;
    font-size: 0;
}
.ui-icon-circle-triangle-w::after, .ui-icon-circle-triangle-e::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1.7rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.ui-icon-circle-triangle-w::after {
    background-image: url(../static/icons/calendar/calculateprev.svg);
}
.ui-icon-circle-triangle-e::after {
    background-image: url(../static/icons/calendar/calculatenext.svg);
}


.ui-datepicker-calendar {
    font-weight: 400;
}

.ui-datepicker-calendar span {
    font-weight: 400;
}

.ui-datepicker-calendar td {
    width: 4.8rem;
    height: 4.8rem;
    text-align: center;
    text-decoration: none;
}

.ui-state-disabled {
    opacity: 0.35;
}

.ui-datepicker-current-day a {
    color: #ffffff !important   ; 
}

.ui-datepicker-calendar td a {
    text-decoration: none;
    color: #000000;
}

.ui-datepicker-current-day {
    color: #ffffff;
    background: #0227AB;
    border-radius: 50px;
}
